@model List<PracticaTaller.Models.AccesoDatos.Venta>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Total:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Venta in Model)
        {
            <tr class="registro-venta">
                <td class="id-venta" style="display:none">@Venta.IdVenta</td>
                <td>@Venta.Fecha</td>
                <td>@Venta.DetalleVenta.Sum(x=>x.Precio)</td>        
            </tr>            
        }
    </tbody>
</table>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Pecio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Venta in Model)
        {
            foreach (var detalle in Venta.DetalleVenta)
            {
                <tr class="registro-detalle" style="display:none">
                    <td class="id-venta" style="display:none">@detalle.IdVenta</td>
                    <td>@detalle.Producto.nombre</td>
                    <td>@detalle.Producto.precio</td>
                </tr>
            }
        }
    </tbody>
</table>
<script src="~/Scripts/ScriptsVentas.js"></script>