@model List<PracticaTaller.Models.AccesoDatos.Cliente>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>DNI:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Apellido</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.nro_dni</td>
                <td>
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = @cliente.idCliente })
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Modificar", new { id = @cliente.idCliente })
                </td>
            </tr>
        }
    </tbody>
</table>

