@model PracticaTaller.Models.AccesoDatos.Proveedor

<form action="/Proveedores/GuardarModificacion">

    <br />

    <label>Rozón Social:</label>
    <input name="razon_social" value="@Model.razon_social" />

    <br />

    <label>CUIT:</label>
    <input name="cuit" value="@Model.cuit" />

    <br />

    <label>Dirección:</label>
    <input name="direccion" value="@Model.direccion" />

    <br />

    @Html.Hidden("id_proveedor", Model.id_proveedor)

    <br />
    @if (ViewBag.Mensaje != null)
    {
        <h3>@ViewBag.Mensaje</h3>
    }
    <input type="submit" value="Guardar" />
</form>